name: Daily Map Generator

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate-map:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Generate Map
      run: python generate_map.py

    - name: Commit and Push
      run: |
        git config --global user.name "Daily Map Generator"
        git config --global user.email "Example@github.com"
        
        git add README.md
        
        if [[ -n $(git status -s) ]]; then
          git commit -m "Update Daily Map: $(date)"
          git push
        else
          echo "No changes to commit"
        fi
